html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #0B2545;
    height: 200vh;
    margin: 0;
    height: 200vh;
    overflow-x: hidden;
}
p{
    color: #EEF4ED;
    font-size: 1.3vw;
}

hr{
    margin: 0 10%;
}

/*---------------HEADER---------------*/
header{
    height: 100vh;
    background-image: url(./image/Bande-yellow-flou.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.grid-header{
    width: 100%;
}

.btn {
    margin-left: 15%;
    color: #B24C63;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgb(178, 76, 99);
    padding: 1% 2%;
    font-size: 1.2vw;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}
.btn:hover {
    color: white;
}
.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #B24C63;
    z-index: -1;
    transition: all 1s;
}
.btn:hover::before {
    width: 160%;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.banner-title{
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./image/video-vague-couleur.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-bottom: 2%;
    margin-left: 10%;
    white-space: nowrap;
    overflow: hidden;
    width: 0;  /* initial width */
    animation: typing 4s steps(40, end) forwards,
             blink 0.5s step-end infinite;
}
.banner-title::after {
    content: "";
    display: inline-block;
    animation: blink 1s infinite;
  }

header h2{
    font-size: 3vw;
    color: #EEF4ED;
    margin-left: 15%;
    margin-bottom: 5%;
}


/*-----------MAIN--------------*/

.slide-in{
    margin-left: 12%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.slide-in h2{
    font-size: 7vw;
    color: rgba(240, 248, 255, 0);
    -webkit-text-stroke: 1px rgb(247, 206, 71); /* Bordure de 2px de large en noir (pour les navigateurs WebKit) */
    color: rgba(255, 255, 255, 0); /* Couleur du texte */
    display: inline;
}
.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}

.logo-github{
    width: 10%;
    transition: 0.5s ease-in-out;
}
.logo-github:hover{
    rotate: 35deg;
    width: 15%;
}

/*---------------AEKLYS-----------------*/

.projet-aeklys{
    margin: 8% 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.perspective-container {
    perspective: 800px; /* Définit la distance de la perspective */
}
.perspective-container.aeklys video{
    width: 90%;
    grid-column: 2;
    transform: rotateY(-20deg); /* Appliquez une rotation en Y pour la perspective */
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.7);
    border: 4px solid black;
    transition: 0.5s ease;
}
.perspective-container.aeklys video:hover{
    transform: rotateY(0deg);
    width: 110%;
    box-shadow: 3px 20px 20px rgba(0, 0, 0, 0.7);
}
.aeklys{
    opacity: 0;
    transform: translateX(200%);
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.aeklys.active {
    transform: translateX(0%);
    opacity: 1;
}

.texte-aeklys{
    display: grid;
    grid-column: 1;
    align-items: center;
}

.logo-github.git-aeklys{
    margin-left: 5%;
}
/*-----------------MOUSE EATERS------------------*/
.projet-mouse{
    margin: 8% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.texte-mouse p{
    margin-bottom: 3%;
}

.perspective-container.mouse video{
    margin: 9% 0;
    box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.7);
    width: 90%;
    border: 4px solid black;
    grid-column: 1;
    transform: rotateY(20deg);
    transition: 0.5s ease;
}
.perspective-container.mouse video:hover{
    transform: rotateY(0deg);
    width: 110%;
    box-shadow: -3px 20px 20px rgba(0, 0, 0, 0.7);
}

.mouse{
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.mouse.active {
    transform: translateX(0%);
    opacity: 1;
}


.mouse-anim div{
    font-size: 2.6vw;
    color: #eef4ed00;
    -webkit-text-stroke: 1px #EEF4ED; /* Bordure de 2px de large en noir (pour les navigateurs WebKit) */
    display: inline;
}
.word.jaune{
    font-size: 2.6vw;
    color: rgb(247, 206, 71);
    -webkit-text-stroke: 1px rgb(247, 206, 71); /* Bordure de 2px de large en noir (pour les navigateurs WebKit) */
    display: inline;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin-left: 20%;
}
.mouse-anim {
    position: relative;
    animation: cascadeAnimation 6s linear infinite; /* Réglez la durée et le type d'animation */
}
.word {
    text-align: center;
    white-space: nowrap; /* Empêche le texte de revenir à la ligne */
    margin-bottom: 0; /* Supprimez la marge inférieure pour coller les mots */
    animation: moveWords 6s linear infinite; /* Ajoutez une animation pour chaque div .word */
}

@keyframes cascadeAnimation {
    0% {
        transform: translateY(-120%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes moveWords {
    0%, 100% {
        transform: translateY(0); /* Commencez et terminez avec aucune translation */
    }
    10% {
        transform: translateY(100%); /* Translation vers le bas */
    }
    90% {
        transform: translateY(100%); /* Restez en bas */
    }
}

/*----------------PROJET D'AXE-------------*/

.projet-axe{
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
}

.perspective-container.axe video{
    margin: 9% 0;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.7);
    width: 90%;
    border: 4px solid black;
    grid-column: 2/3;
    transform: rotateY(-20deg);
    transition: 0.5s ease;
}

.perspective-container.axe video:hover{
    transform: rotateY(0deg);
    width: 110%;
    box-shadow: 3px 20px 20px rgba(0, 0, 0, 0.7);
}

.axe{
    opacity: 0;
    transform: translateX(200%);
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.axe.active{
    transform: translateX(0%);
    opacity: 1;
}

.axe-anim{
    grid-column: 1/3;
    display: grid;
    align-items: center;
}
.texte-axe{
    display: grid;
    align-items: center;
}

.axe-anim h2{
    font-size: 2.6vw;
    color: #eef4ed00;
    -webkit-text-stroke: 1px #EEF4ED; /* Bordure de 2px de large en noir (pour les navigateurs WebKit) */
    display: inline-block;
    animation: defilement 10s linear infinite;
}

@keyframes defilement {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    90%{
        opacity: 0.5;
    }
    100% {
        transform: translateX(120%);
        opacity: 0;
    }
}

/*-------------NOSA COACH--------------*/

.projet-nosa{
    margin: 8% 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.perspective-container {
    perspective: 800px; /* Définit la distance de la perspective */
}
.perspective-container.nosa video{
    width: 90%;
    grid-column: 1;
    transform: rotateY(20deg); /* Appliquez une rotation en Y pour la perspective */
    box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.7);
    border: 4px solid black;
    transition: 0.5s ease;
}
.perspective-container.nosa video:hover{
    transform: rotateY(0deg);
    width: 110%;
    box-shadow: -3px 20px 20px rgba(0, 0, 0, 0.7);
}
.nosa{
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.nosa.active {
    transform: translateX(0%);
    opacity: 1;
}

.texte-nosa{
    margin-left: 20%;
    display: grid;
    grid-column: 2;
    align-items: center;
}

.complex-animated-title {
    color: initial; /* Votre couleur initiale */
    opacity: 0;
    text-shadow: 0px 0px 0px #B24C63;
    font-size: 3vw;
    animation: complexColorChange 5s infinite alternate, fadeIn 5s 1 forwards;
}
  
@keyframes complexColorChange {
    0% {
      color: #EEF4ED; /* Votre couleur initiale */
      text-shadow: 0px 0px 0px #B24C63;
    }
    50% {
      color: #B24C63;
      text-shadow: 4px 4px 10px #B24C63;
    }
    100% {
      color: #EEF4ED; /* Votre couleur initiale */
      text-shadow: -4px -4px 10px #B24C63;
    }
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.texte-nosa a{
    color: rgb(247, 206, 71);
}
  
  